# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: MinGine
email: mingine@minufo.com
description: >- # this means to ignore newlines until "keywords:"
  クラウドサーバーでECサイトの構築と運営のサポートを格安・低コストで導入できるシステムを提供しております。
  安全・安定・安心、１コインからECサイト運営できるみんなのエンジン「MinGine」です。
keywords: >- # this means to ignore newlines until "baseurl:"
  mingine,ミンジン,c2c,ctoc,売買,ec,コマース,eコマース,ecサイト,web,site,website,ウェブ,サイト,ウェブサイト,
  infra,インフラ,server,サーバー,サーバー構築,host,hosting,ホスト,domain,ドメイン,cloud,クラウド,AWS,
  speed,security,安い,安価,速い,高速,安全,安定,安心,高速ロード,seo,seo対策,
  1coin,1コイン,ワンコイン,500円,480円,1000円以内,1000円未満
baseurl: "/mingine" # the subpath of your site, e.g. /blog
url: "https://minufo.github.io/mingine" # the base hostname & protocol for your site, e.g. http://example.com
address: >-
  〒100-0005

  東京都千代田区丸の内２丁目
subscribe_url: https://mingine.minufo.work/api/subscribe
contact_url: https://mingine.minufo.work/api/contact

# Build settings
theme: minima
plugins:
  - jekyll-paginate
  - jekyll-feed

paginate: 6
paginate_path: '/news/:num/'

excerpt_separator: <!--more-->

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - parts/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
