---
layout: default
slides:
  - title: 月額500円〜
    image: assets/img/slide-1.jpg
    description: 初期費用不要で月額500円からECサイトの運営を始めませんか？
    button:
      text: もっと見る
      href: "#about"
      scroll: true
  - title: ずっと無制限
    image: assets/img/slide-2.jpg
    description: どのプランでもシステムの全て機能がご利用頂けます
    button:
      text: もっと見る
      href: "#features"
      scroll: true
  - title: システム移行サポート
    image: assets/img/slide-3.jpg
    description: EC-CUBE／WooCommerce／osCommerce…その他ECシステムからMinGineへ移行作業をサポートします
    button:
      text: もっと見る
      href: "#services"
      scroll: true
clients:
  - assets/img/clients/client-1.svg
features:
  - title: 機能無制限
    icon: bx bx-list-check
    description: どのプランでもユーザー数・商品数・システム機能制限などありません。
  - title: クラウド
    icon: bx bx-cloud
    description: 全てのプランはクラウドサーバーで稼働するので、安全・安定・安心でサービス運営できます。
  - title: オリジナル
    icon: bx bx-slider
    description: ご希望のテンプレートに基づいてサイトの表示がカスタマイズできます。
  - title: 高速ロード
    icon: icofont-flash
    description: 商品の売買専用システムのため、不要な機能・データがなくてページロードが早くて、ユーザーに良い印象を残します。
services:
  - thumb: assets/img/service-1.svg   #rgb(197,63,63) https://stories.freepik.com/illustration/server-status/rafiki
    title: サーバーの構築
    description: >-
      ウェブサイト作成に必要な初期設定とメンテナンスは全てこちらで行いますので、WEB制作技術がなくても安心してECサイト経営ができます。

      サーバーの契約、ユーザー権限設定、データベースのインストール、ソースコードのインストール、システムのコンフィグなどの作業は契約プランに問わず全て行います。
  - thumb: assets/img/service-2.svg   #rgb(197,63,63) https://stories.freepik.com/illustration/transfer-files/rafiki
    title: システム移行サポート
    description: >-
      他のECシステムからMinGineへ移行する作業をサポートしていますので、現在稼働しているサイトの商品情報、顧客情報、注文情報、在庫情報を全てMinGineで継続して運営することができます。

      EC-CUBE、WordpressのWooCommerceプラグイン、osCommerceなどオプーンソースから独自システムまで全て対応できますのでお気軽にご相談してください。
---
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    <div class="carousel-inner" role="listbox">
      {%- for slide in page.slides %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url('{{ slide.image | relative_url }}')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">{{ slide.title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ slide.description }}</p>
            {%- if slide.button %}
            <a href="{{ slide.button.href }}" class="btn-get-started animate__animated animate__fadeInUp {% if slide.button.scroll %}scrollto{% endif %}">{{ slide.button.text }}</a>
            {%- endif %}
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">前</span>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">次</span>
    </a>
  </div>
</section>

<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="row content">
        <div class="col-lg-6">
          <h2>MinGine</h2>
          <h3>ネット販売を始めましょう！</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>貸店舗なしで商品を販売したい、手数料０でお客様に届けたい。
            <br>その時「ミンジン」にお任せください！
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>初期費用不要で月額500円〜</li>
            <li><i class="ri-check-double-line"></i>ウェブ制作知識不要</li>
            <li><i class="ri-check-double-line"></i>申込当日サービス開始</li>
          </ul>
          <p class="font-italic">低価格で高品質サービスを提供してまいりますので是非ご検討ください</p>
        </div>
      </div>
    </div>
  </section>

  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row justify-content-center">
        {%- for client in page.clients %}
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{{ client | relative_url }}" class="img-fluid" alt="">
        </div>
        {%- endfor %}
      </div>
    </div>
  </section>

  <section id="features" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Features</h2>
        <p>MinGineの特徴</p>
      </div>
      <div class="row">
        {%- for feature in page.features %}
        <div class="col-md-6 mb-4">
          <div class="icon-box h-100 mb-0">
            <i class="{{ feature.icon }}"></i>
            <h4><a>{{ feature.title }}</a></h4>
            <p>{{ feature.description }}</p>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
  </section>

  <section id="services" class="features section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <p>MinGineのサービス</p>
      </div>
      {%- for service in page.services %}
      {%- assign even = forloop.index | modulo: 2 %}
      <div class="row mb-4">
        <div class="col-lg-4 text-center mb-3 order-lg-{% if even == 0 %}1{% else %}3{% endif %}">
          <img src="{{ service.thumb | relative_url }}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-8 details mb-3 order-lg-2">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description | newline_to_br }}</p>
        </div>
      </div>
      {%- endfor %}
    </div>
  </section>
</main>
