---
title: 料金
menu: pricing
layout: page
custom_js: pricing_js.html
plans_url: https://mingine.mindebu.com/api/plans.json
---
<section id="pricing" class="pricing">
  <div class="container">
    <div class="row">
      {% raw %}
      <template v-for="(plan, key, index) in items">
        <div class="col-lg-3 col-md-6" v-bind:class="{'mt-4': index > 0, 'mt-md-0': index === 1, 'mt-lg-0': index === 2 || index === 3}">
          <div class="box" v-bind:class="{'featured': plan.recommend}">
            <span class="advanced" v-if="plan.flexible">カスタム</span>
            <h3>{{ plan.name }}</h3>
            <h4><sup>￥</sup>{{ formatPrice(plan.price) }}<template v-if="plan.flexible">~</template><span> / 月</span></h4>
            <ul>
              <li v-for="feature in features(plan)">{{ feature.display_text }}</li>
              <li class="na" v-for="feature in notAvailable(plan)">{{ feature.display_text }}</li>
            </ul>
            <div class="btn-wrap">
              <a v-bind:href="plan.url" class="btn-buy">申し込み</a>
            </div>
          </div>
        </div>
      </template>
      {% endraw %}
    </div>
  </div>
</section>

<section id="faq" class="faq">
  {% include_relative parts/faq.html %}
</section>
