<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>機能</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/features/user.html" | relative_url }}">購入者</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/features/store.html" | relative_url }}">出品者</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/features/admin.html" | relative_url }}">管理者</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>サービス</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/pricing.html" | relative_url }}">料金</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/news/" | relative_url }}">ニュース</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ "/contact.html" | relative_url }}">お問い合わせ</a></li>
          </ul>
        </div>
        <div class="col-lg-6 footer-newsletter">
          <h4>新着情報配信サービス</h4>
          <p>最新ニュースをお届けします。</p>
          <form action="{{ site.subscribe_url }}" method="post">
            <input type="email" name="email"><input type="submit" value="登録">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>{{ site.title }}</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script src="{{ "/assets/lib/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/jquery.easing/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/php-email-form/validate.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/isotope-layout/isotope.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/venobox/venobox.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/waypoints/jquery.waypoints.min.js" | relative_url }}"></script>
<script src="{{ "/assets/lib/owl.carousel/owl.carousel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
