<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <link href="{{ "/assets/img/favicon.ico" | relative_url }}" rel="icon">
  <link href="{{ "/assets/img/apple-icon.png" | relative_url }}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/lib/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/icofont/icofont.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/boxicons/css/boxicons.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/animate.css/animate.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/remixicon/remixicon.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/venobox/venobox.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/lib/owl.carousel/assets/owl.carousel.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>
